/* CSS Document */
/*.nurb_pres{ margin-top:5px;} */

.nurb{width:175px; background:#fff; border:solid 1px #CCCCCC; padding:6px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#999; line-height:1.5em;  margin-top:-4px;}

#content_testata {margin-top:10px;position:relative;}

/*#testo_pres { margin-top:-5px;}

.tri_nurb{ float:right; margin-right:20px; z-index:999; margin-bottom:-19px; padding-bottom:0;}

div#contieni-wrap{width:960px; margin-left:auto; margin-right:auto; position:relative; margin-bottom:30px;}



/*div#footer-wrap{width:960px; height:330px; margin-left:auto; margin-right:auto; position:relative; /*background-color:#009966;*}/
/* #header-wrap{width:960px; margin-left:auto; margin-right:auto; position:relative;}*/



#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:78px; 
	list-style-image:none;
	width:110px;
	padding-left:5px;
	
}

#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:550px; 
	list-style:none; 
	padding:0; margin:-2px 0 1px 0; 
	width:150px; 

}

#featured ul.ui-tabs-nav li{ 
	padding:1px 0; 
	color:#000; 
	list-style-image:none; 
	margin:1px 1px -1px 30px;
}

#ico_search {left:139px; position:absolute; padding-top:21px;}

#menu li {
    background-image: url("../img/bullet.gif");
    background-position: left top;
    background-repeat: no-repeat;
    border-bottom: 1px dotted #999999;
    font-size: 12px;
    list-style: none outside none;
    margin: 8px 0;
    padding: 0 0 0 15px;
}