
$blue : #003A70;
$light_blue: #0077C8;
$green: #00968F;
$red: #D50032;
$orange: #D45D00;
$gold: #CC8A00;
$dark_grey : #3C3C3C;
$grey: #A1A1A1;
$light_grey: #E8E8E8;
$superlight_grey: #F8F8F8;
$white: #ffffff;

$colors: (
  dark_grey: $dark_grey, 
  grey : $grey,
  light_grey : $light_grey,
  superlight_grey : $superlight_grey,
  white : $white,
  blue : $blue,
  light_blue:  $light_blue,
  green:  $green,
  red:  $red,
  orange:  $orange,
  gold:  $gold,
);

$bg:(
  gradient_blue : linear-gradient(225deg, rgba(0,58,112,0.00) 0%, rgba(0,58,112,0.50) 39%, #003A70 89%, #003A70 100%),
  gradient_light_blue : linear-gradient(225deg, rgba(0,119,200,0.00) 0%, rgba(0,119,200,0.50) 38%, #0077C8 89%, #0077C8 100%),
  gradient_green: linear-gradient(225deg, rgba(0,150,143,0.00) 0%, rgba(0,106,128,0.50) 39%, #008F8D 89%, #00968F 100%),
  gradient_red: linear-gradient(225deg, rgba(157,34,53,0.00) 0%, rgba(157,34,53,0.50) 39%, #9D2235 87%, #9D2235 100%),
  gradient_orange: linear-gradient(225deg, rgba(212,93,0,0.00) 0%, rgba(212,93,0,0.50) 39%, #D45D00 89%, #D45D00 100%),
  gradient_gold: linear-gradient(225deg, rgba(204,138,0,0.00) 0%, rgba(204,138,0,0.50) 39%, #CC8A00 89%, #CC8A00 100%)
);



.color {
  @include color-modifiers($prefix: '__');
}

.bg {
  @include color-modifiers($attribute: 'background-color', $prefix: '__');
}

.bg {
  @include bg-modifiers($attribute: 'background-color', $prefix: '__');
}

.bg__home_hero_desktop{
  background-color: linear-gradient(180deg, rgba(0,58,112,0.40) 0%, rgba(0,58,112,0.00) 54%, rgba(0,58,112,0.80) 100%);
}



