// pre footer
#partners {
  h4 {
    margin-bottom: rem(48px);
  }
  .partner {
    img {
      margin: 0 auto;
      max-width: 200px;
      height: 100px;
      object-fit: cover;
      display: block;
    }
  }
}

#footer-1 {
  min-height: rem(246px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 1200px) {
    padding-top: rem(48px);
    padding-bottom: rem(48px);
    .main-sponsor{
      padding-top: rem(24px);
      
    }
  }
  
  
  @media screen and (min-width: 1200px) {

    img {
      width: rem(255px);
      height: rem(78px);
      -o-object-fit: cover;
      object-fit: cover;
      display: block;
    }

    .main-sponsor {
      h4 {
          position: absolute;
          top: rem(-45px);
      }
      img {
        &:first-of-type {
          width: rem(122px);
        }
        &:last-of-type {
          width: rem(200px);
        }
      }
    }
  }
  
}

#footer-2 {
  padding-top: rem(24px);
  padding-bottom: rem(32px);
}
