body.home {
  
  .masthead {
    height: 100vh;
    min-height: rem(500px);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media screen and (max-width: 1200px) {
      background-image: url("../../images/header-mobile.png") !important;
    }

    .nav-fixed__background {
      background-color: $standard_white;
    }
    
    .navbar-brand {
      visibility: hidden;
      opacity: 0;
    }

  }
}

body:not(.home){
  .navbar{
    background-color: $standard_white; 
    box-shadow: 0 1px 0 0 (rgba($color: $primary_lighter, $alpha: 1.0));
  }
}
.masthead {

  .navbar {
    bottom: rem(86px);
    position: relative;

    .navbar-brand {
      background-image: url("../../images/logo-desktop-2.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 20px;
      margin: 0;
      
      transition: 0.3s;
      width: 100%;
      height: rem(60px);
      max-width: 350px;
    }
    .nav-item {
      @media screen and (min-width: 1200px) {
        &:first-of-type {
          margin-left: rem(37px);
        }
      }

      &:not(:last-of-type) {
        margin-right: rem(37px);
      }
    }
    .nav-link {
      font-weight: bold;
      border: 1px solid transparent;
      @media screen and (min-width: 1200px) {
        margin-bottom: rem(48px);
      }
      display: table;
      color: $standard_white;
      text-transform: uppercase;

      &:hover {
        background-color: rgba($color: $standard, $alpha: 0.2);
        border: 1px solid $standard_white;
      }
    }

    &.nav-fixed {
      position: fixed;

      top: 0px;

      width: 100%;
      left: 0;
      right: 0;
      bottom: unset;
      z-index: 10;
      height: rem(100px);
      .navbar-brand.visible {
        opacity: 1;
        visibility: visible;
      }
      .nav-link {
        color: $primary;
        margin-bottom: 0;
        &:hover {
          background-color: rgba($color: $standard, $alpha: 0.2);
          border: 1px solid $standard_white;
        }
      }

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        transition: 0.3s;
        @media screen and (max-width: 1200px) {
          background-color: $primary;
        }
      }
      .form-control {
        height: unset;
      }
      .navbar-collapse {
        @media screen and (max-width: 1200px) {
          background-color: #fff;
          position: relative;
          top: rem(30px);
          padding-bottom: rem(80px);
          padding-top: rem(48px);
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      .navbar-nav {
        @media screen and (max-width: 1200px) {
        }
      }
    }

    .navbar--search {
      @media screen and (min-width: 1200px) {
        position: absolute;
        right: 0;
        top: 0;
      }
      .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
      }
      .form-control--search:not(:focus):not(:active) {
        @media screen and (min-width: 1200px) {
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;
        }
      }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $primary;
      @media screen and (max-width: 1200px) {
        background-color: $standard_white;
      }
    }
  }

  .carousel--container {
    max-width: rem(350px);
  }
  .carousel-indicators {
    position: relative;
    margin: 0;
    justify-content: flex-end;
  }
  .carousel-inner {
    position: relative;
    &::before {
      content: "";
      top: -20px;
      left: -20px;
      right: -20px;
      bottom: -20px;
      position: absolute;
      background-color: transparent;
      background-image: url("../../images/header-mobile.png") !important;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      filter: blur(10px);
    }

    border: 1px solid #fff;

    .card--container {
      border: 0;
      background-color: transparent;
    }
  }
  .counter {
    &:after {
      content: "/";
      color: $standard_white;
      display: inline-block;
      position: relative;
    }
  }
}

.section--calendar{
  position: relative;
  
  .button--icon{
    box-shadow: none;
  }
  h2{
    margin-bottom: 0!important;
  }
}
.hr--calendar{
  margin-top: 0;
  border-top: 1px solid $standard_light;
  margin-bottom: rem(48px);
}