body.theme-orange {
  color: #d45d00;
}

body.theme-orange a {
  color: #d45d00;
}

body.theme-orange a,
body.theme-orange p {
  color: #d45d00;
}

body.theme-orange .cta {
  color: #d45d00;
}

body.theme-orange .meta {
  color: #d45d00;
}

body.theme-orange h1 {
  color: #d45d00;
}

body.theme-orange h2 {
  color: #d45d00;
}

body.theme-orange h3 {
  color: #d45d00;
}

body.theme-orange h4 {
  color: #d45d00;
}

body.theme-orange h5 {
  color: #d45d00;
}

body.theme-orange h6 {
  color: #d45d00;
}

body.theme-orange .button.button__primary {
  background: #d45d00;
  color: #ffffff;
}

body.theme-orange .button.button__primary:hover {
  background: #ffffff;
  border: 1px solid #d45d00;
  color: #d45d00;
}

body.theme-orange .button.button__secondary {
  border: 1px solid #d45d00;
  color: #d45d00;
}
