html {
  font-size: 16px;
}

body {
  font-family: 'Luiss Sans', sans-serif!important;
  font-weight: normal;
  color: $blue;
  line-height: rem(26px);
  @include font-size(18px);
}

a{
    text-decoration: none;
}

a,
p{
  color: $blue;
  line-height: rem(26px);
  @include font-size(18px);
  
  &.big{
    @include font-size(24px);
    line-height: rem(32px);
  }

  &.small{
    @include font-size(16px);
    line-height: rem(24px);
  }
}



.sidebar_navigation li a{
    @include font-size(24px);
    line-height: rem(32px);
    font-weight: bold;
}

.cta{
    font-weight: bold;
    @include font-size(16px);
    line-height: rem(24px);
    &.big{
        @include font-size(24px);
        line-height: rem(28px);
    }
}


.colonna_key_facts-container .block h3{
    
    text-transform: uppercase;
}

.colonna_key_facts-container .block h3,
.meta{
    @include font-size(16px);
    line-height: rem(24px);
}

h1, h2, h3, h4, h5, h6{
    color: $blue;
}

h1,
.h1{
    font-family: "Luiss Serif"!important;
    font-weight: 400;
    @include font-size(80px!important);
    line-height: rem(72px);
    &.small{
        @include font-size(72px!important);
    }
}

h2,
.h2{
    font-family: "Luiss Serif"!important;
    font-weight: 400;
    @include font-size(60px!important);
    line-height: rem(64px);
}

h3,.h3{
    font-family: "Luiss Serif"!important;
    font-weight: 400;
    @include font-size(48px!important);
    line-height: rem(54px);
}

h4,.h4{
    font-weight: bold;
    @include font-size(48px!important);
    line-height: rem(54px);
    &.alt{
        font-family: "Luiss Serif"!important;
        font-weight: 400;
        @include font-size(40px!important);
    }
}

h5,.h5{
    font-family: "Luiss Serif"!important;
    font-weight: 400;
    @include font-size(36px!important);
    line-height: rem(40px);
}

h6,.h6{
    font-weight: bold;
    @include font-size(30px!important);
    line-height: rem(36px);
}
