// px to rem
@function rem($size) {
  @return $size / 16px * 1rem;
}

// colori
@mixin color-modifiers($attribute: 'color', $prefix: '-') {
  @each $name, $hex in $colors {
    &#{$prefix}#{$name} {
      #{$attribute}: $hex !important;
    }
  }
}

@mixin bg-modifiers($attribute: 'color', $prefix: '-') {
  @each $name, $hex in $bg {
    &#{$prefix}#{$name} {
      #{$attribute}: $hex !important;
    }
  }
}

@mixin theme($name, $bgColor, $textColor) {
  body.theme-#{$name} {
    overflow-x: hidden;
    font-family: 'Luiss Sans', sans-serif !important;
    font-weight: normal;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p {
      font-weight: normal;
      color: $blue;
    }

    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background-color: $blue;
    }
    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before{
      background-color: $blue;
    }
    #menu-main li{
      font-family: 'Luiss Sans', sans-serif !important;
      font-weight: normal;
      > a{
        font-size: 1rem;
      }
    }

    .shadow-top,
    .shadow-bottom{

      box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.75);
      z-index: 1;

    }
    .border-bottom-share{
      border-bottom: 1px solid #fff;
      max-width: 365px;
      // padding-left: 15px!important;
      // padding-right: 15px!important;
      padding-bottom: 24px;
    }

    @media (max-width: 1040px) {
      #menu-main li a {
        display: block !important;
        padding: 14px 12px;
        color: #fff;
        float: none;
        border-bottom: 1px solid #A1A1A1;
        background: #fff!important;
      }
      #menu-main li:last-child a{
        border-bottom-width: 0px;
      }
    }

    @media (max-width: 1040px) {
      .page #masthead,
      #masthead {
        height: 92px;
      }
      #logo a {
        background: unset !important;
        min-height: 92px;
        padding: 0;
      }
      #logo-img {
        display: inline-block;
      }
      #nav-main .searchbar {
        display: none !important;
      }
    }

    .breadcrumb,
    .breadcrumb span,
    .breadcrumb a {
      color: #a1a1a1 !important;
      font-size: rem(16px);
      color: #a1a1a1 !important;
      line-height: rem(16px);
    }

    .lang_selector {
      display: inline-block;
    }

    #menu-main {
      border-color: $blue;
      @media screen and(max-width:992px) {
        z-index: 1;
      }
      li {
        &:hover {
          a {
            background-color: $blue!important;
            color: $white;
          }
        }
      }
      .sub-menu {
        background-color: $white;
        column-gap: 0;
        li{
          &:not(:hover){
            background-color: $white;
            a {
              background-color: $white!important;
              color: $blue;
            }
          }
        }
      }

      li a,
      .current-menu-item a,
      .current-page-ancestor a {
        color: $blue;
      }
    }
    .list-unstyled.secondary-nav{
      border-top: 7px solid #A1A1A1;
    }
    .list-unstyled.secondary-nav li a{
      display: block !important;
      padding: 14px 12px;
      color: $blue;
      float: none;
      border-bottom: 1px solid #A1A1A1;
      background: #fff !important;
    }

    #nav-main {
      .searchbar a {
        padding: 16px 22px;
        background-color: $blue;
        color: #fff;
      }
      .drop-open a {
        background-color: $blue;
        color: $white;
      }
      .gsc-search-box-tools .gsc-search-box .gsc-input {
        height: auto;
      }
    }


    #masthead,
    #nav-main,
    #content-title,
    #breadcrumb-top,
    #header-master,
    #nav-main,
    #content-title {
      background: transparent;
    }

    #breadcrumb-top.fixed .breadcrumb,
    #breadcrumb-top.fixed {
      background: $white;
    }

    #main a,
    .breadcrumb a,
    #secondary-nav a {
      color: $blue;
    }
    #menu-main {
      #menu-item-25941,
      #menu-item-34570 {
        display: none;
      }
    }

    .lang_selector li a{
      color: $blue;
    }
    .lang_selector li a.active{
      border-bottom: 1px solid $blue;
      background-color: transparent!important;
    }

    .site-main{
      h1,h2,h3,h4,h5,h6{
        text-transform: lowercase;
        &::first-letter{
          text-transform: uppercase;
        }
      }
    }
    .site-main h3 {
      margin-bottom: rem(30px);
      margin-top: rem(50px);
    }
    .site-main .button{
      font-family: 'Luiss Sans', sans-serif !important;
      border: 1px solid $bgColor;
      color: $textColor!important;
    }
    #site-canvas {
      transform: none;
    }

    #accordion-curriculum .panel-accordion{
      margin-bottom: rem(32px);
    }

    
    .share {
      
      .meta {
        margin-right: rem(36px);
      }
      ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        
      }
    }
    
    .accordion-toggle.collapsed::before {
      display: none;
    }
    .panel-heading .accordion-toggle:after {
      font-family: 'Font Awesome 5 Pro';
      content: '\f00d';

      color: $white;
      @include font-size(24px);
      letter-spacing: 0;
      text-align: center;
      line-height: rem(24px);
      transition: 0.3s;

      width: 48px;
      height: 48px;
      align-items: center;
      display: flex;
      justify-content: center;
      background-color: $bgColor;

      position: absolute;
      right: 0;
      top: 0;
    }
    .panel-heading .accordion-toggle.collapsed:after {
      content: '\f067';
    }
    .accordion {
      .h2 {
        &:after {
          display: none;
        }
      }
      .panel-title {
        margin: 0;
        display: inline-block;
        width: 100%;
        padding-top: rem(48px);
        padding-bottom: rem(48px);
        padding-left: rem(48px);
        position: relative;
        
        a{
          font-family: 'Luiss Sans', sans-serif !important;
          font-weight: bold;
          &::first-letter{
            text-transform: uppercase;
          }
          text-transform: lowercase;
          &.page-default{
            text-transform: capitalize;
          }
        }
      }
      .panel-accordion {
        border: 1px solid $bgColor;
      }
      .accordion-toggle {
        border: none;
      }
      .panel-body {
        background-color: #fff;
        padding: 0rem rem(48px) rem(48px) rem(48px);
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          &:first-of-type {
            margin-top: 0;
          }
        }
      }
    }

    .sidebar-master {
      .block-dark {
        border-top: 1px solid #3c3c3c;
        background-color: #f7f9fa;

        font-size: rem(36px);
        line-height: rem(40px);
        position: relative;

        a,
        p,
        .textwidget {
          color: $blue;
        }

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 48px;
          height: 48px;
          background-color: $bgColor;
          mask-image: url('images/pattern.svg');
        }

        h3 {
          color: $textColor;
          font-size: rem(36px);
          line-height: rem(40px);
          text-transform: lowercase;
          font-variant: initial;
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
      > h2 {
        display: none;
      }
      .block {
        display: none;
      }

      .block:last-child {
        display: block !important;
      }
      a.button {
        font-family: 'Luiss Sans', sans-serif !important;
        font-weight: normal;
        border: 1px solid $bgColor;
        color: $bgColor;
      }
      a.featured-links {
        display: none !important;
      }
    }

    main.site-master h3 {
      @include font-size(48px);
      text-transform: lowercase;

      &::first-letter {
        text-transform: uppercase; /* Make the first letters uppercase      */
      }
    }

    .page-title{
      text-transform: lowercase;
      &::first-letter{
        text-transform: uppercase;
      }
    }

    

    .select {
      padding: 10px 15px;
      border: 1px solid $blue;
      color: $blue;
    }

    .sidebar_navigation {
      padding-top: 36px;
      padding-bottom: 36px;
      margin-top: 65px;
      border-right: 1px solid #e8e8e8;

      li {
        text-align: right;
        transition: 0.3s;
        padding: 15px 0px;
        padding-right: rem(14px);
        a {
          color: $blue;
          transition: 0.3s;
          font-weight: bold;
          &::first-letter{
            text-transform: uppercase;
          }

          i {
            margin-left: rem(36px);
            transition: 0.3s;
            font-size: 18px;
            color: $white;
            letter-spacing: 0;
            text-align: center;
          }
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid #e8e8e8;
        }

        &:hover {
          background-color: $bgColor;
          a {
            color: $white;
            i {
              color: $white;
            }
          }
        }
      }
    }

    .colonna_key_facts {
      background: $bgColor;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;

      .row {
        display: flex;
        justify-content: center;
        transition: 0.3s;
      }
      .row-hidden {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }
      * {
        color: $white;
      }

      &.fixed {
        position: fixed;
        .colonna_key_facts-container {
          .block:not(:last-child) {
            display: none;
          }
        }
      }
      
      .download-brocure {
        position: fixed;
        background-color: $bgColor;
        padding: 12px;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 100;
        p{
          margin-bottom: 0;
        }
        .block:not(:last-child) {
          display: none;
        }

        .block:last-child {
          .textwidget {
            text-align: center;
          }
          .button:not(.featured-links) {
            display: none;
          }
          .button.featured-links {
            font-family: 'Luiss Sans', sans-serif !important;
            font-weight: bold;
            background-color: $white;
            color: $textColor;
            @include font-size(16px);
            line-height: rem(28px);
            padding: 18px 70px;
            margin-bottom: 0;
            margin-top: 16px;
            transition: 0.3s;
            border: 1px solid transparent;
            width: 100%;

            &.disabled,
            &:disabled {
              opacity: 0.3;
            }
            &:hover {
              background: $bgColor;
              border: 1px solid $white;
              color: $white;
            }
            &:focus {
              box-shadow: inset 0 0 10px 0 rgba(60, 60, 60, 0.2);
            }
          }
        }
      }

      .colonna_key_facts-container {
        width: 100%;

        @media screen and (max-width: 992px) {
          column-count: 2;

          .block:last-child {
            display: none;
          }
        }
        @media screen and (min-width: 992px) {
          display: flex;
        }

        .block {
          h3 {
            font-family: 'Luiss Sans', sans-serif !important;
            text-transform: uppercase;
          }
          h3,
          .meta {
            @include font-size(16px!important);
            line-height: rem(24px);
          }
          .textwidget {
            p {
              font-weight: bold;
            }
          }
        }
        .block:not(:last-child) {
          margin-right: rem(48px);
        }
        .block:last-child {
          flex-grow: 1;
          text-align: right;
        }
        .block:last-child {
          .textwidget {
            p {
              a:not(.featured-links) {
                display: none;
              }
            }
          }
        }
        .featured-links {
          font-family: 'Luiss Sans', sans-serif !important;
          font-weight: bold;
          background-color: $white;
          color: $textColor;
          @include font-size(16px);
          line-height: rem(28px);
          padding: 25px 70px;
          margin-bottom: 0;
          margin-top: 16px;
          transition: 0.3s;
          border: 1px solid transparent;
          width: 365px;

          &.disabled,
          &:disabled {
            opacity: 0.3;
          }
          &:hover {
            background: $bgColor;
            border: 1px solid $white;
            color: $white;
          }
          &:focus {
            box-shadow: inset 0 0 10px 0 rgba(60, 60, 60, 0.2);
          }
        }
      }

      .colonna_key_facts-fixed {
        align-items: center;
        h5 {
          flex-grow: 1;
        }
        .block:last-child {
          flex-grow: 0;
        }
        .share_links-fixed {
          margin-right: rem(24px);
          ul {
            justify-content: space-between;
            width: 313px;
            height: 48px;
            border-bottom: 1px solid #fff;
          }
        }
      }
    }

    .container-header {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 480px;
        background: $bgColor;
        background: linear-gradient(
          -225deg,
          rgba($color: $bgColor, $alpha: 1) 0%,
          rgba($color: $bgColor, $alpha: 0) 100%
        );
      }
    }
    #header-master {
      padding: 0;
      h1 {
        text-transform: inherit;
      }
      p {
        font-size: rem(24px);
        line-height: rem(32px);
      }
      h1,
      p {
        color: $white;
        margin-bottom: 0;
      }
      .button.featured-links {
        border: 1px solid $white;
        color: $white;
      }
    }
    .button {
      &.button__primary {
        background: $bgColor;
        color: $white;
        &:hover {
          background: $white;
          border: 1px solid $textColor;
          color: $textColor;
        }
      }
      &.button__secondary {
        border: 1px solid $textColor;
        color: $textColor;
      }
    }
    #breadcrumb-top .breadcrumb {
      border-bottom: 0;
    }
    .share_links:not(.share_links-fixed) {
      position: absolute;
      right: 0;
      top: rem(32px);
      width: 365px;
      h2 {
        font-weight: normal;
        font-size: rem(16px);
        color: #ffffff;
        line-height: rem(24px);
      }
      .ssba > div {
        display: flex;
        &:before {
          content: '';
          position: absolute;
          background-color: #fff;
          width: 365px;
          height: 1px;
          bottom: 16px;
        }
      }
    }

    .footer {
      background: none repeat scroll 0 0 #fff;
      padding-bottom: 0;
      input[type='submit'] {
        width: inherit;
        box-sizing: inherit;
        border: inherit;
        border-radius: inherit;
        font-size: inherit;
        background-color: inherit;
        background-position: inherit;
        background-repeat: inherit;
        padding: inherit;
      }
      #mc-embedded-subscribe {
        clear: both;
        width: auto;
        display: inherit;
        margin: inherit;
      }
      #mc_embed_signup input {
        border: inherit;
        border-radius: 0px;
      }
      #mc_embed_signup .button {
        clear: both;
        background-color: inherit;
        border: inherit;
        border-radius: inherit;
        transition: all 0.23s ease-in-out 0s;
        color: inherit;
        cursor: pointer;
        display: inherit;
        font-size: inherit;
        font-weight: inherit;
        height: inherit;
        line-height: inherit;
        margin: inherit;
        padding: inherit;
        text-align: inherit;
        text-decoration: inherit;
        vertical-align: inherit;
        white-space: inherit;
        width: inherit;
        font-family: 'Luiss Sans', sans-serif !important;
      }
      .indicates-required,
      .mc-field-group{
        font-family: 'Luiss Sans', sans-serif !important;
      }
      .button {
        background-color: $gold !important;
        font-weight: bold;
        @include font-size(16px);
        color: #ffffff;
        line-height: rem(24px);
        cursor: pointer;
        user-select: none;
        background-color: transparent;
        text-transform: uppercase;
        border: none;
        outline: none;
        padding: 16px 29px !important;
        &.button__primary {
          background: $green;
          border: 1px solid transparent;

          &:hover {
            background: $white;
            border: 1px solid $green;
            color: $green;
          }

          &:focus {
            box-shadow: inset 0 0 10px 0 rgba(60, 60, 60, 0.2);
          }
        }
      }
    }
    .copyright {
      background: $blue;
      p {
        color: $white;
        font-weight: normal;
        font-size: rem(16px);
        color: #ffffff;
        line-height: rem(24px);
      }
    }
    .footer_container {
      font-weight: normal;
      background: none repeat scroll 0 0 $blue;
      color: $white;
      p,
      a,
      h1,
      h3,
      h4,
      h5,
      h6,
      h2,
      address,
      .link-list a,
      .link-list i {
        color: $white;
      }
    }
  }
}
