 .titolo {
     min-height: 35em !important;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.0);
}
 .titolazione {
     color: #3c3c3c;
     text-decoration: none;
     font-size: 6rem;
     letter-spacing: 0rem;
     position: relative;
     font-family: 'Oswald', sans-serif;
     font-weight: 900;
     text-transform: uppercase;
     margin-top: 0rem 
}
 .titolazione_h1 {
     line-height: 160%;
     color: #3c3c3c;
     text-transform: uppercase;
     font-size: 72px;
     line-height: 72px;
     font-family: 'Oswald', sans-serif;
     margin-top: 6rem;
}
 @media (min-width: 1275px) and (max-width:1350px) {
     .titolazione {
         right: 0.5em !important;
    }
}
 @media (min-width: 1200px) and (max-width:1274px) {
     .titolazione {
         right: 0 !important;
    }
}
 @media (min-width: 1060px) and (max-width:1150px) {
     .titolazione {
         right: 0.5em !important;
    }
}
 @media (min-width: 992px) and (max-width:1059px) {
     .titolazione {
         right: 0 !important;
    }
}
 @media (min-width: 992px) and (max-width:1059px) {
     .titolazione {
         right: 0 !important;
    }
     .titolo {
         min-height: 25em !important;
         width: 100%;
         background-color: rgba(0, 0, 0, 0.0);
    }
}
 @media (min-width: 840px) and (max-width:930px) {
     .titolo {
         min-height: 25em !important;
         width: 100%;
         background-color: rgba(0, 0, 0, 0.0);
    }
     .titolazione {
         right: 0.5em !important;
    }
}
 @media (min-width: 769px) and (max-width:839px) {
     .titolo {
         min-height: 15em !important;
         width: 100%;
         background-color: rgba(0, 0, 0, 0.0);
    }
     .titolazione {
         right: 0 !important;
    }
}
 @media (max-width:1040px) {
     .titolazione {
         font-size: 2rem !important;
         margin-bottom: -4rem;
    }
     .titolazione_h1 {
         font-size: 3rem !important;
         margin-top: 4rem;
         line-height: 100%;
    }
     .card .card-action p {
         font-size: 14px;
    }
     .titolo {
         min-height: 5em !important;
         width: 100%;
         background-color: rgba(0, 0, 0, 0.0);
    }
}
 @media (max-width:767px) {
     .hidden-xs {
         display: none!important 
    }
     .li h3 {
         font-size: 12px 
    }
     .body-section-explorer {
        margin-top:60px;
    }
     .body-section h3 {
        font-size: 18px;
    }
     .body-section {
        padding: 20px 0;
    }
     .divider {
        margin-top: 5rem;
         margin-bottom: 5rem;
    }
}
 .lightbox {
     display: none;
}
 .hover:hover {
     opacity: 0.5;
    /* 1 = 100%, 0 = 0% */
    /* or the drop-shadow effect */
     box-shadow: 0 1px 8px black;
    /* goes x-axis, y-axis, blur, (stretch factor on x-axis, not used here), colour */
}
/* Centered text */
 .centered {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}
 h3.centered {
     font-size: 18px;
}
/* ---- Timeline ---- */
 .ol {
     position: relative;
     display: block;
     margin: 2% 2% 10% 2%;
     height: 4px;
     background: #669933;
}
 .ol::before, .ol::after {
     content: "";
     position: absolute;
     top: -8px;
     display: block;
     width: 0;
     height: 0;
    /* border-radius: 10px;
     */
     border: 10px solid #669933;
}
 .ol::before {
     left: -5px;
}
 .ol::after {
     right: -10px;
    /*border: 10px solid transparent;
    */
     border-right: 0;
     border-left: 20px solid #669933;
     border-radius: 3px;
}
/* ---- Timeline elements ---- */
 .li h3 {
     min-height: 9rem 
}
 .li {
     position: relative;
     display: inline-block;
     float: left;
     width: 25%;
     height: 50px;
}
 .li .diplome {
    /*position: absolute;
     top: -47px;
     left: 36%;
     color: #3c3c3c;
     */
     padding-top: 2rem 
}
 .li .description {
     display: none;
     background-color: #3c3c3c;
     padding: 30px;
     margin-top: 6rem;
     position: relative;
     font-weight: normal;
     z-index: 1;
     color: #fff;
     border: 1px solid #fff;
}
 .description::before {
     content: '';
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-bottom: 5px solid #f4f4f4;
     position: absolute;
     top: -5px;
     left: 43%;
}
/* ---- Hover effects ---- */
 .li:hover {
     cursor: pointer;
     color: #48A4D2;
}
 .li:hover .description {
     display: block;
}
 .card {
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
 .card {
     margin-top: 10px;
     box-sizing: border-box;
     border-radius: 2px;
     background-clip: padding-box;
    /*background-color: #3c3c3c;
     */
     min-height: 280px;
}
 .card .card-title {
     font-size: 22px;
     font-weight: 300;
    /* text-transform: uppercase;
     */
     padding-top: 5%;
     padding-left: 3%;
     font-family: 'Oswald', sans-serif;
}
 .card .card-content {
     padding: 16px;
     border-radius: 0 0 2px 2px;
     background-clip: padding-box;
     box-sizing: border-box;
     margin-top: 2% 
}
 .card .card-content p {
     margin: 0;
     color: inherit;
     color: #3c3c3c;
}
 .card hr {
     width: 75%;
     margin-right: auto;
     margin-left: auto;
     border-style: solid;
     border-color: #ebebeb;
     border-width: 1px 0 0;
}
 .card .card-content span {
     line-height: 48px;
     padding-top: 2%;
     font-family: 'Roboto', sans-serif;
}
 .card .card-action {
     border-top: 1px solid rgba(160, 160, 160, 0.2);
     padding: 16px;
     min-height: 7.5em;
}
 .card .card-action p {
     font-size: 18px;
     text-transform: uppercase;
}
 .card a {
     color: #2a2a2a;
     margin-right: 16px;
     transition: color 0.3s ease;
     text-transform: uppercase;
}
 .card .button {
     color: #fff;
    /*background-color: #2a2a2a;
     */
     width: 100%;
     margin: 0;
     padding: 2% 
}
 .card .button:hover {
     cursor: pointer;
     background-color: #eff0f5;
     color: #feba4d;
}
 .card .card-action a:hover {
    /*color: #fff;
     text-decoration: none;
     */
}
 .blue {
     text-align: center;
}
 .triangle_blue:after {
     content: '';
     height: 0;
     width: 0;
     position: absolute;
     right: 15px;
     bottom: 0;
     border-left: 18px solid transparent;
     border-top: 18px solid transparent;
     border-right: 18px solid #336666;
     border-bottom: 18px solid #336666;
}
 .triangle_afc:after {
     content: '';
     height: 0;
     width: 0;
     position: absolute;
     right: 15px;
     bottom: 0;
     border-left: 18px solid transparent;
     border-top: 18px solid transparent;
     border-right: 18px solid #cc9933;
     border-bottom: 18px solid #cc9933;
}
 .triangle_bank:after {
     content: '';
     height: 0;
     width: 0;
     position: absolute;
     right: 15px;
     bottom: 0;
     border-left: 18px solid transparent;
     border-top: 18px solid transparent;
     border-right: 18px solid #663366;
     border-bottom: 18px solid #663366;
}
 .triangle_lobbyng:after {
     content: '';
     height: 0;
     width: 0;
     position: absolute;
     right: 15px;
     bottom: 0;
     border-left: 18px solid transparent;
     border-top: 18px solid transparent;
     border-right: 18px solid #3caff2;
     border-bottom: 18px solid #3caff2;
}
 .triangle_tax:after {
     content: '';
     height: 0;
     width: 0;
     position: absolute;
     right: 15px;
     bottom: 0;
     border-left: 18px solid transparent;
     border-top: 18px solid transparent;
     border-right: 18px solid #d8006e;
     border-bottom: 18px solid #d8006e;
}
 .triangle_sanita:after {
     content: '';
     height: 0;
     width: 0;
     position: absolute;
     right: 15px;
     bottom: 0;
     border-left: 18px solid transparent;
     border-top: 18px solid transparent;
     border-right: 18px solid #78a328;
     border-bottom: 18px solid #78a328;
}

 .triangle_inno:after {
     content: '';
     height: 0;
     width: 0;
     position: absolute;
     right: 15px;
     bottom: 0;
     border-left: 18px solid transparent;
     border-top: 18px solid transparent;
     border-right: 18px solid #ef9100;
     border-bottom: 18px solid #ef9100;
}

 .greens {
		color: #779577;
		text-align: center;
	}
	
.triangle_green:after {
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		right: 15px;
		bottom: 0;
		border-left: 18px solid transparent;
		border-top: 18px solid transparent;
		border-right: 18px solid #779577;
		border-bottom: 18px solid #779577;
	}

.ls {
		color: #5b6978;
		text-align: center;
	}
	
.triangle_ls:after {
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		right: 15px;
		bottom: 0;
		border-left: 18px solid transparent;
		border-top: 18px solid transparent;
		border-right: 18px solid #5b6978;
		border-bottom: 18px solid #5b6978;
	}
.triangle_family:after {
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		right: 15px;
		bottom: 0;
		border-left: 18px solid transparent;
		border-top: 18px solid transparent;
		border-right: 18px solid #604195;
		border-bottom: 18px solid #604195;
	}	

.triangle_marketing:after {
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		right: 15px;
		bottom: 0;
		border-left: 18px solid transparent;
		border-top: 18px solid transparent;
		border-right: 18px solid #37a9b8;
		border-bottom: 18px solid #37a9b8;
	}

.triangle_people:after {
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		right: 15px;
		bottom: 0;
		border-left: 18px solid transparent;
		border-top: 18px solid transparent;
		border-right: 18px solid #28429d;
		border-bottom: 18px solid #28429d;
	}

.triangle_project:after {
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		right: 15px;
		bottom: 0;
		border-left: 18px solid transparent;
		border-top: 18px solid transparent;
		border-right: 18px solid #c4103c;
		border-bottom: 18px solid #c4103c;
	}

.triangle_sport:after {
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		right: 15px;
		bottom: 0;
		border-left: 18px solid transparent;
		border-top: 18px solid transparent;
		border-right: 18px solid #de849c;
		border-bottom: 18px solid #de849c;
	}

 .fa-3x {
     font-size: 3em;
}
 .fa-2x {
     font-size: 2em;
}
 .pipe_real {
     border-left: 5px solid #336666;
     padding-left: 10px;
}
 .pipe_afc {
     border-left: 5px solid #cc9933;
     padding-left: 10px;
}
 .pipe_bank {
     border-left: 5px solid #663366;
     padding-left: 10px;
}
 .pipe_lobbyng {
     border-left: 5px solid #3caff2;
     padding-left: 10px;
}
 .pipe_tax {
     border-left: 5px solid #d8006e;
     padding-left: 10px;
}
 .pipe_sanita {
     border-left: 5px solid #78a328;
     padding-left: 10px;
}

 .pipe_inno {
     border-left: 5px solid #ef9100;
     padding-left: 10px;
}

 .pipe_family {
     border-left: 5px solid #604195;
     padding-left: 10px;
}

 .pipe_marketing {
     border-left: 5px solid #37a9b8;
     padding-left: 10px;
}
 .pipe_people {
     border-left: 5px solid #28429d;
     padding-left: 10px;
}

 .pipe_project {
     border-left: 5px solid #c4103c;
     padding-left: 10px;
}

 .pipe_sport {
     border-left: 5px solid #de849c;
     padding-left: 10px;
}

#home-section-1 {
	font-weight: 600;
	padding: 80px 0;
	position: relative;
}
#home-section-1 h2 {
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: 'Oswald', sans-serif;/*font-size:33px;
*/
	font-size: 23px;
	padding: 1%;
}

#home-section-1 a {
	color: #fff;		
	/*padding: 10px; */		 
} 


#home-section-1 p {
	color: #3c3c3c;
	display: block;
	font-size: 18px; 
	font-family: "ITC Officina Sans W01"; 
}

/* Aggiiunto per nuovo layout   */		

	.titolo-ls {background-color:#5b6978}		
	.paragrafo-ls {background-color:#cdd2d6;}		
	.titolo-mba {background-color:#779577}		
	.paragrafo-mba {background-color:#d6dfd6;}		
	.titolo-master {background-color:#0b4860}		
	.paragrafo-master {background-color:#b5c8cf;}		
	.titolo-pe {background-color:#032d42}		
	.paragrafo-pe {background-color:#b3c0c6;}			
	.titolo-phd {background-color:#7a91a3}		
	.paragrafo-phd {background-color:#d7dee3;}			
	.titolo-cs {background-color:#69545c}		
	.paragrafo-cs {background-color:#d2cbce;}		

			
/* Aggiiunto per nuovo layout   */	

 @media (max-width:767px) {
     .hidden-xs {
         display: none!important 
    }
     .pipe_real {
         display: none!important 
    }
}
