body.home #secondary-nav a{color:#3c3c3c}
body.home .lang_selector a{color:#3c3c3c}
body.home .lang_selector li a.active{border-bottom:1px solid #3c3c3c}
.home #masthead,.home #nav-main,.home #content-title,.home #breadcrumb-top{background:none repeat scroll 0 0 rgba(253,253,253,0.65);position:absolute;width:100%;margin:0 auto;z-index:1000}
.home #masthead{top:0}
.home #nav-main{top:120px}
.home #breadcrumb-top{display:none}
.primopiano{-webkit-transform:rotate(270deg) translateX(-70px); font-family:'ITC Officina Sans W01', Georgia, 'Times New Roman', serif; font-weight:600; text-align:center; text-transform:uppercase;transform:rotate(270deg) translateX(-70px);font-size:18px;}
.desc-home {color:#A8A8A8;font-size:16px;}
.wide-row{margin:auto;width:100%}
.box-item{margin-bottom:3px;padding-right:3px;padding-left:3px}
.box-item .yellow{display:block;height:230px;background-color:#feba4d;border:1px solid #feba4d;text-align:center}
.box-item .yellow:hover{color:#fff}
.box-item .yellow h2{text-transform:uppercase;color:#fff;cursor:pointer;display:block;font-family:'Oswald',sans-serif;font-size:23px;text-align:center;padding-top:80px}
.box-item a.yellow{text-decoration:none;-o-transition:all .3s linear;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;transition:all .3s linear; padding:10px;}
.box-item a.yellow:hover{background-color:#111}
.carousel{margin-bottom:10px;background:rgba(253,253,253,0.65);z-index:-1}
.item img{width:100%}
.carousel-control.left,.carousel-control.right{background-image:none!important;opacity:1}
.carousel-control.left{top:40%}
.carousel-control.right{top:40%}
.carousel-caption{text-align:left;height:auto;left:10%;padding-bottom:3%}
.carousel-caption h2{line-height:160%}
.carousel-caption h2 span{color:#3c3c3c;text-transform:uppercase;font-size:100px;line-height:102px;font-family:'Oswald',sans-serif}
.slider_paragraf{background:#feba4d;padding:4px;text-shadow:none;color:#fff;width:auto;font-size:28px}
.carousel-caption p{margin-top:2px;margin-bottom:2px}
.news-cards { background-color:#F7F7F7; min-height:200px;}
@media(max-width: 1280px) {
.carousel-caption h2 span{font-size:50px;line-height:32px}
.slider_paragraf{padding:2px;color:#fff;font-size:18px}
}
@media(max-width: 1366px) {
.carousel-caption h2 span{font-size:70px;line-height:32px}
.slider_paragraf{padding:2px;color:#fff;font-size:22px}
.box-item{margin-bottom:2px}
}
@media(max-width: 768px) {
.home #masthead,.home #nav-main,.home #content-title,.home #breadcrumb-top{background:#111}
.home #masthead{position:relative}
.home #nav-main{top:48px;z-index:100000}
.carousel{margin-top:0}
body.home .lang_selector a{color:#fff}
.carousel .item{height:auto}
.carousel-inner > .item > img,.carousel-inner > .item > a > img{display:block;max-width:100%;background-position:50% 50%;background-size:cover}
.carousel-indicators{display:none}
.carousel img{width:100%;background-position:50% 50%;background-size:cover}
.carousel-caption h2{line-height:24px}
.carousel-caption h2 span{font-size:24px;line-height:12px}
.slider_paragraf{padding:2px;color:#fff;font-size:14px;line-height:14px}
.tagline{top:0;left:auto}
.box-item .yellow{height:auto}
.box-item .yellow h2{padding:10px 10px 5px 10px; font-size:20px;}
.finder-description {font-size: 26px;}
.section-launch{margin:10px 0}
.primopiano { background: #ebebeb;font-size: 22px;margin: -3px -15px 5px;padding: 13px 10px 10px;text-align: left;transform: none;-webkit-transform:none;
}
#home-section-1 {
    font-weight: 600;
    padding: 20px 0;
    position: relative;
}	
}
